.actions {
    text-align: right;
  }
  
  .actions i {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .page{
      max-width: 50%;
      
      margin: auto;
      margin-top: 10%; ;
  }
   .card{
    padding: 50px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
   }
  
   .input{
    border-color:  rgb(196,225,229);
    border-style: solid;
    border-radius: 10px;
    margin-right: 8px;
    padding: 4px;
   }
   .btn{
    background-color:  rgb(112, 206, 218);
    border-radius: 10px;
   }
  