<div class="page">
  <div class="card -bg-light mb-3 position-relative">
    <div class="header">
      <div class="titulo position-absolute top-0 start-50 translate-middle-x fs-4 text-secondary-emphasis">TO-DO LIST</div>
    </div>
    <div class="input-container">
      <input
        class="input"
        type="text"
        placeholder="Adicione sua atividade"
        [(ngModel)]="inputValue"
      />
      <button class="btn btn-light" (click)="addTask()">add task</button>
    </div>
    <div class="atividades ">
      <table class="table">
        <thead>
          <tr>
            <th>Atividades</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr" *ngFor="let task of tasks">
            <td>{{ task }}</td>
            <td class="actions">
              <i class="bi bi-trash" (click)="removeTask(task)"></i>
              <i class="bi bi-pen-fill ml-2" routerLink="/edit"  
        
           
              
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   <span><app-editar-tarefas *ngIf="valorFalse" [task]="inputValue"></app-editar-tarefas></span> 
  </div>
</div>