<div class="page">
  <div class="container">
    <div class="titulo">TODO LIST</div>

    <input class="input" type="text" placeholder="Adicione sua atividade" [(ngModel)]="inputValue">
    <button class="button" (click)="addTask()">add task</button>

    <div class="atividades">
      <table class="table">
        <thead>
          <tr *ngFor="let task of tasks ">
            <th>
            <span>{{ task }}</span>  
              <i class="bi bi-trash" (click)="removeTask(task)"></i>
            
            </th>            
          </tr>   
        </thead>
      </table>
    </div>
  </div>
</div>
